

/* This part is done by Diya Shrivastava */

*{
    font-family: "Futura", sans-serif;
    font-weight: 400;
}

article{
    width: 100%;
    display:block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

article div h2{
    text-align: center;
}

.opts_10, .opts_5{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-left:10px;
}

figure{
    width:265px;
    margin:10px;
    display:block;
}

figure img{
    width:100%;
}


figure div{
    position: relative;
    display: inline-block;
  }

.view_btn{
    border-width: 1px;
    border-style: solid;
    border-color: #e8e8e1;
    padding: 8px 14px;
    margin: 15px;
    background-color: white;
}

.overlay_button{
    opacity: 0;
}






/* This part is done by nithinvarma */

.main {
    width: 100%;
}

#heading {
    text-align: center;
    margin-bottom: 100px;
}

.underline {
    text-decoration: none;
    color: black;
}

#image, #about, #founder, #content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

#image {
    gap: 30px;
}

#image img, #about img, #founder img, #content img {
    align-self: center;
}

#image img {
    width: 170px;
    height: 80px;
    margin-bottom: 50px;
}

#email img {
    width: 10px;
}

#founder img {
    margin-bottom: 30px;
}

#about img, #founder img {
    height: 800px;
}

#content img {
    width: 1000px;
}

#total {
    display: flex;
    justify-content: space-between;
    background-color: #f2d1d1; /* Adjusted to pink shade */
    padding: 20px;
}

#insta img {
    height: 40px;
}

#copy {
    display: flex;
    justify-content: center;
    background-color: #f2d1d1;
    align-items: center; /* Center content vertically */
}

#copy img {
    height: 20px;
}

.last ul {
    list-style-type: none;
    padding: 0;
}

.whatsapp-icon {
    position: fixed;  
    bottom: 20px;     
    right: 20px;      
    width: 150px;      
    height: auto;     
    z-index: 1000; 
}

/* This is for making the page responsive */
@media (min-width: 769px) {
    #heading {
        font-size: 1.5rem; 
    }

    #image img {
        width: 12vw; 
    }

    #about img, #founder img {
        width: 70vw; 
    }

    #content img {
        width: 100vw;
    }

    #total {
        padding: 1.5%;
    }

    .last {
        font-size: 1.2rem; 
    }

}


@media (max-width: 768px) {
    #image img, #about img, #founder img, #content img {
        width: 100%; 
    }
    
    #total, #insta, #copy, .last {
        flex-direction: column;
        align-items: center;
        padding: 2%;
    }

    #heading {
        font-size: 1.2rem; 
        margin-bottom: 4%;
    }

    #copy img {
        height: 4vw; 
    }

    .whatsapp-icon {
        width: 40px;
        height: 40px;
        bottom: 10px;
        right: 10px;
    }
}


@media (max-width: 480px) {
    #heading {
        font-size: 1rem; 
        margin-bottom: 3%;
    }

    #image img, #about img, #founder img, #content img {
        width: 100%; 
    }

    #total {
        padding: 1%;
        flex-direction: column;
    }

    .last {
        text-align: center;
        margin-bottom: 2%;
    }

    #copy img {
        height: 3vw; 
    }

    .whatsapp-icon {
        width: 40px;
        height: 40px;
        bottom: 10px;
        right: 10px;
    }
}
